---
import ToolTip from "@/ui/ToolTip.astro";
import Bolt from "@/icons/Bolt.svg";
---

<a 
    aria-label="Seguir enlace hacia la página de Actividad"
    href="#"
    class="relative group transition-colors duration-300 hover:text-white"
>
    <Bolt width={20} height={20} style={{cursor: "pointer"}}  />
    <ToolTip toolTipMessage="Activity" />
</div>