<a 
    href="/" 
    aria-label="Seguir enlace hacia la página inicio"
>
    <img 
        src="https://a.ltrbxd.com/logos/letterboxd-logo-h-neg-rgb.svg" 
        alt="letterboxd-logo" 
        class="w-auto h-11"
    >
</a>