---
import LoggedUser from "./LoggedUser.astro";
import Activity from "@/components/Activity.astro";
import Search from "@/icons/Search.svg";
import { navItems } from "@/data/navItems";

---

<nav>
    <ul class="flex items-center gap-x-3 text-primary uppercase text-[11px] tracking-widest font-semibold">
        <LoggedUser />
        <Activity />
        {navItems.map(({label, href}) => (
            <li>
                <a
                    aria-label={`Seguir enlace hacia ${label}`}
                    href={href}
                    class="transition-colors duration-200 hover:text-white"
                >
                    {label}
                </a>
            </li>
        ))}
        <Search width={17} height={17} />
    </ul>
</nav>