---

import SectionContainer from "@/components/SectionContainer.astro";

---

<SectionContainer title="19th JOGJA-NETPAC ASIAN FILM FESTIVAL—MAIN COMPETITION">
    <!-- <h2 class="text-xs text-slate-400 pt-1">Films in competition at the 2024 Jogja-Netpac Asian Film Festival, Nov 25 to Dec 8. Follow JAFF’s HQ and check out the full lineup.</h2> -->

</SectionContainer>