---
import Search from '@/icons/Search.svg'

---


<search class="rounded-full w-28 h-6 relative bg-gray-accent-1 focus:bg-white">
    <input 
        class="rounded-full w-full h-full outline-none pl-2 bg-gray-accent-1 shadow-xs shadow-slate-500 focus:bg-white"
    >
    <button 
        type="button" 
        class="absolute top-[4.5px] right-1 cursor-pointer"
    >
        <Search width={14} height={14} style={{color: "#768697"}}/>
    </button>
</search>



